@import "block/reset.scss";
@import "block/adapfont.scss";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F1F1F1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #767676;
}
body.lock {
    overflow: hidden;
}

.wrapper {
    max-width: 1920px;
    min-height: 100%;
    margin: 0 auto;
    height: 100%;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.section__title {
    font-size: 30px;
    @include adaptiv-font(30, 26);
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

@import "block/variables.scss";
@import "block/header.scss";
@import "block/offer.scss";
@import "block/popup.scss";
@import "block/scroltop.scss";
