.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #016b45;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
